/* dark-mode.css */

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode header,
body.dark-mode nav,
body.dark-mode ul,
body.dark-mode nav-ul,
body.dark-mode #mySidenav,
body.dark-mode a {
    background-color: #121212;
    color: #fff;
}

body.dark-mode a:hover {
    background-color: #121212;
    color: #fff;
}

body.dark-mode #github {
    color: white;
}

body.dark-mode .home #image-home {
    border: white solid 1px;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode span {
    color: #fff;
}

body.dark-mode .service h1,
body.dark-mode .service p,
body.dark-mode .service-card {
    color: #fff;
}

body.dark-mode #toggle-menu {
    color: white;
}


body.dark-mode .service-card,
body.dark-mode .project-card,
body.dark-mode #form
body.dark-mode #contact-form,
body.dark-mode #click-btn {
    background-color: #121212;
    color: #fff;
    border: 1px solid #fff;
}

body.dark-mode input,
body.dark-mode textarea {
    color: #fff;
    background-color: #3B3B3B;
}

body.dark-mode input[type="button"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body.dark-mode .back-to-Top img {
    color: #fff;
}

body.dark-mode footer {
    background-color: #252525;
    color: #fff;
}

body.dark-mode #logo-name, span {
    color: red;
}

body.dark-mode #footer {
    color: #888;/
}

.section {
    margin-top: 50px;
    padding: 5rem 0;
}

.section-bg {
    background-color: #f6f8fe;
}

.section__header {
    max-width: 50rem;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
    color: #000;
}

.section__title,
.section__subtitle {
    color: #000;
}

body.dark-mode .section-bg {
    background-color: #121212;
}

body.dark-mode .section__header,
body.dark-mode .section__title,
body.dark-mode .section__subtitle {
    color: #fff; 
}

.testimonial__card {
    background-color: #fff;
    box-shadow: 0 0 85px 0 #e9eefc;
    width: 100%;
    max-width: 40rem;
    justify-self: center;
    border-radius: 1.5rem;
    padding: 5rem 3rem;
    position: relative;
}

.testimonial__card-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.testimonial__img-wrapper {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.testimonial__wrapper .swiper-wrapper,
.testimonial__wrapper .swiper-pagination-bullets {
    padding-bottom: 5rem;
    justify-content: space-around;
}

.testimonial__wrapper .swiper-pagination-bullet,
.testimonial__wrapper .swiper-pagination-bullet-active {
    background-color: #747474;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
}

body.dark-mode .testimonial__card {
    background-color: #121212;
    box-shadow: 0 0 85px 0 #21232A;
    color: #fff;
}

body.dark-mode .testimonial__img-wrapper {
    border: 2px solid #fff;
}

body.dark-mode .testimonial__name {
    color: #fff;
}

body.dark-mode .testimonial__wrapper .swiper-pagination-bullet,
body.dark-mode .testimonial__wrapper .swiper-pagination-bullet-active {
    background-color: lightseagreen;
}

body.dark-mode #toggle-mode {
    background-color: #121212;
    border: none;
}
